@import url(https://fonts.googleapis.com/css?family=Gowun+Dodum:regular);
@import "tailwindcss";
/* :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: #242424;
    } */
/* --color-darker: #151414; */
/* a {
    color: rgba(94, 91, 91, 0.87);
} */
@theme {
    --color-main: #242424;
    --color-darker: #191919;
    --color-text: rgba(94, 91, 91, 0.87);
    --default-font-family: "Gowun Dodum", sans-serif;
    /* --default-font-feature-settings: ; */
}
